html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	background-color: transparent;
	font-family: sans-serif;
	background-color: #ffeeaa;
}

/* 
	http://www.html.it/articoli/un-layout-fisso-a-griglia-senza-framework-3/ 
*/
footer,header,nav {
	display: block;
}

.container {
	margin: 0 auto;
	padding: 0;
}

.container:before,.container:after,.row:before,.row:after {
	content: " ";
	display: table;
}

.container:after,.row:after {
	clear: both;
}

.container,.row {
	*zoom: 1;
}

.row {
	margin: 0 0 20px 0;
}

[class*='col-'] {
	text-align:center;
	display: block;
	float: left;
	padding: 0 20px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
}

.col-1-3 {
	width: 33%;
}

.col-1-2 {
	width: 50%;
}

.col-1 {
	width: 100%;
}

